body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

html {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5 {
	font-family: gravityBook;
}

hr {
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a {
	text-decoration: none;
}

@font-face {
	src: url(../fonts/maagkramp/maagkramp.ttf);
	font-family: maagkramp;
}

@font-face {
	src: url(../fonts/gravity/Gravity-Bold.otf);
	font-family: gravityBold;
}

@font-face {
	src: url(../fonts/gravity/Gravity-Book.otf);
	font-family: gravityBook;
}

@font-face {
	src: url(../fonts/gravity/Gravity-Light.otf);
	font-family: gravityLight;
}

#loading-bg {
	background-color: #F5F5F5;
	height: 100vh;
	width: 100%;
	position: relative;
	top: -20px;
	margin-bottom: -20px;
}

#loading-bg #loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20%;
    border: outset 5px;
    border-color: coral;
    padding-top: 20%;
    background-color: #383838;
}

#loading-bg #loading-container #loading {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loading-bg #loading-container #loading #loading-logo {
	font-size: 3em;
	font-family: maagkramp;
	text-align: center;
	color: white;
}

#loading-bg #navbar {
	background-color: #FFFFFF;
	width: 100vw;
	height: 10vh;
	display: table;
	transition: opacity 1s ease;
	position: absolute;
	z-index: 9999;
}

#loading-bg #navbar #logo {
	width: 80px; 
	height: 40px; 
	background-color: #383838;
	border: outset 5px;
    border-color: coral;
	display: table-cell;
	vertical-align: middle;
}

#loading-bg #navbar #logo #logo-text {
	font-size: 1rem;
	font-family: maagkramp;
	text-align: center;
	color: white;
}

#loading-bg #navbar ul {
	padding: 0;
}

#loading-bg #navbar ul li {
	list-style-type: none;
	font-family: GravityBook;
	display: inline;
	text-align: center;
	float: right;
	padding: 10px;
	padding-right: 5%;
}

#loading-bg #navbar ul li a {
	text-decoration: none;
	padding-bottom: 10px;
	background-image: none;
	transition: background-image 1s ease-in-out;

}

#loading-bg #navbar ul li a:hover {
	background-image: linear-gradient(
		180deg, rgba(0,0,0,0),
		rgba(0,0,0,0) 81%,
		#222222 81.1%,
		coral 85%,
		rgba(0,0,0,0) 85.1%,
		rgba(0,0,0,0)
	);
}

#loading-bg #navbar ul li a:link, #loading-bg #navbar ul li a:visited {
	color: black;
}

#loading-bg #navbar ul li a:active, #loading-bg #navbar ul li a:after, #loading-bg #navbar ul li a:link {
	color: #8E8E8E;
	background-image: linear-gradient(
		180deg, rgba(0,0,0,0),
		rgba(0,0,0,0) 81%,
		#222222 81.1%,
		coral 85%,
		rgba(0,0,0,0) 85.1%,
		rgba(0,0,0,0)
	);
}

#loading-bg #home-div {
	margin-left: 10%;
	position: relative;
	top: 40%;
	transition: opacity 1s ease;
}

#loading-bg #home-div #home-hi {
	color: gray;
	letter-spacing: 2px;
}

#loading-bg #home-div #home-name {
	margin-top: -1%;
	color: #7A8297;
	font-family: maagkramp;
	letter-spacing: 2px;
	font-size: 2.5em;
	margin-left: 2%;
}

#loading-bg #home-div #home-highschool {
	color: black;
	margin-top: -2%;
	letter-spacing: 1.5px;
}

#band {
	width: 100%;
	height: 50px;
	background-color: black; 
}

#about-div {
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 5%;
}

#about-div #about-text {
	width: 50%;
	display: inline-block;
	margin-top: 3%;
	margin-left: 1%;
}

#about-div #about-img {
	width: 30%;
	display: inline-block;
	margin-top: 3%;
	margin-right: 1%;
}

#projects-div {
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 5%;
}

#projects-div .project {
	display: inline-block;
	width: 20%;
}

#projects-div .project img {
	width: 100%;
}

/*#experience-div .experience {
	width: 30%;
	display: inline-block;
	margin-top: 3%;
	margin-right: 5%;
	margin-left: 5%;
}*/