.visible {
	opacity: 1 !important;
	transform: translateY(0px) !important;
}

#header-corner {
	width: 12.5vw;
	height: 12.5vw;
	background-color: var(--light);

	transform: rotate(45deg);

	position: absolute;
	top: -6.25vw;
	left: 2.75vw;

	text-align: center;
}

#section-1 {
	width: 100vw;
	height: 100vh;
	background-color: var(--dark);

	align-items: center;

	color: var(--light);
	letter-spacing: 1.5px;
	font-size: 1.5em;
	text-align: center;
}

#name {
	opacity: 0;
	font-weight: 100;
}

#name-underline {
	background-color: var(--light);
	height: 1px;
	width: 0;
}

#section-1-footer {
	width: 100%;
	font-size: 0.7em;
	position: absolute;
	bottom: 7.5vh;
	opacity: 0;
}

#section-1-footer a {
	color: var(--accent);
	text-decoration: none;
}

#section-1-footer a:hover {
	cursor: pointer;
}

/* ********************* */

#section-2 {
	width: 100vw;
	background-color: var(--light);
	color: var(--dark);
	padding-top: 100px;
	padding-bottom: 100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#section-2 > h1 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
}

#section-2 > p {
	width: 70%;
	margin-top: 25px;
	font-size: 1.3em;
	line-height: 2em;
}

#section-2-arrow {
	width: 150px;
	margin-top: 50px;
	cursor: pointer;
}

.accent {
	/* text-decoration: underline; */
	color: var(--accent);
}

/* ********************* */

#section-3 {
	width: 100vw;
	/* height: 100vh; */
	background-color: var(--lighter);

	padding-top: 100px;
	padding-bottom: 100px;
}

#section-3-title {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 2em;
	text-align: center;
}

#section-3-hr {
	margin: auto;
	margin-top: 15px;
	width: 50%;
	border: none;

	border-top: medium double var(--dark);
	color: var(--dark);
	padding: 1px;
}

#section-3-subtitle {
	text-align: center;
	margin-top: 15px;
}

.section-3-panel {
	margin-top: 50px;
	margin-left: 50px;
	color: var(--dark);

	display: flex;
}

.section-3-panel-left {
	flex: 1;
}

.section-3-panel h1 {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	/* text-shadow: 2px 3px 7px var(--dark); */
}

.section-3-panel p {
	max-width: calc(100% - 50px);
	margin-top: 10px;
	line-height: 1.5em;
}

.section-3-panel button {
	margin-top: 15px;
	padding: 10px 15px 10px 15px;
	border: none;
	background-color: var(--dark);
	color: var(--light);
	cursor: pointer;
}

.section-3-panel-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-3-panel-right img {
	width: 90%;
}

@media only screen and (max-width: 1000px) {
	.section-3-panel {
		flex-direction: column;
	}

	.section-3-panel-right img {
		width: 70%;
	}
}