@font-face {
	font-family: GB;
	src: url('../assets/fonts/Gravity-Book.otf');
	font-display: swap;
}

@font-face {
	font-family: GL;
	src: url('../assets/fonts/Gravity-Light.otf');
	font-display: swap;
}

h1,
h2,
h3 {
	font-family: GL;
}

h4,
h5,
p,
a,
ul {
	font-family: GL;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.horizontal {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.visible {
	opacity: 1 !important;
	transform: translateY(0px) !important;
}

#header-corner {
	width: 12.5vw;
	height: 12.5vw;
	background-color: #fff;

	transform: rotate(45deg);

	position: absolute;
	top: -6.25vw;
	left: 2.75vw;

	text-align: center;
}

#section-1 {
	width: 100vw;
	height: 100vh;
	background-color: #292929;

	align-items: center;

	color: white;
	letter-spacing: 1.5px;
	font-size: 1.5em;
	text-align: center;
}

#logo {
	position: fixed;
	top: 2.5vh;
	left: 2.5vh;
	width: 10vh;
	z-index: 99999999999;
	opacity: 0;
}

#logo:hover {
	cursor: pointer;
}

#name {
	opacity: 0;
	font-weight: 100;
}

#name-underline {
	background-color: #fff;
	height: 1px;
	width: 0;
}

#section-1-footer {
	width: 100%;
	font-size: 0.7em;
	position: absolute;
	bottom: 7.5vh;
	opacity: 0;
}

#section-1-footer a {
	color: #f7484e;
	text-decoration: none;
}

#section-1-footer a:hover {
	cursor: pointer;
}

/* ********************* */

#section-2 {
	width: 100vw;
	height: 100vh;
}

#section-2-left {
	width: 50%;
	background-color: #f7484e;

	align-items: center;
	font-size: 2em;
}

#section-2-right {
	width: 50%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #fff;
	text-align: center;
	align-items: center;
	row-gap: 10%;
	letter-spacing: 1.2px;
	line-height: 25px;
}

#below-link {
	color: #f7484e;
}

#below-link:hover {
	cursor: pointer;
}

/* ********************* */

#section-3 {
	width: 100vw;
	height: 100vh;

	align-items: center;
	row-gap: 5vh;
}

#section-3-title {
	font-size: 2em;
}

#section-3-gif {
	/* width: 50%; */
	opacity: 0;
	transition: all 0.5s ease;
	transform: translateY(50px);
}

#section-3-terminal {
	width: 50%;
	height: 50%;
	background-color: #292929;
	border-radius: 10px;
	padding: 10px;
}

#section-3-terminal-content {
	justify-content: left;
	column-gap: 0;
}

#section-3-terminal-text {
	color: white;
}

#section-3-terminal-cursor {
	width: 5px;
	height: 20px;
	position: relative;
	background-color: #fff;
}
