* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #2c2f33;
	color: #ffffff;
}
.still-in-dev {
	height: 1vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.link {
	color: #7289da;
}
.link:hover {
	color: #7289da;
	text-decoration: none;
}
.fa-times-circle:hover {
	cursor: pointer;
}
#hi-there-container {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5vh;
}
#hi-there {
	transition: opacity 2s ease;
}
#ibrahim-fadel {
	transition: opacity 2s ease;
}
#highschool-amateur {
	transition: opacity 2s ease;
}
#about-me-container {
	background-color: #23272a;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center; /* row-gap: 5vh; */ /* padding-top: 20vh; */ /* padding-bottom: 20vh; */
}
#about-me {
	transition: opacity 0.4s ease;
}
#about-me-title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#about-me-underline {
	height: 3px;
	width: 30px;
	background-color: white;
}
#small-projects-container {
	width: 100%;
	height: 270%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	row-gap: 0vh;
}
#small-projects-title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#small-projects-underline {
	height: 3px;
	width: 30px;
	background-color: white;
}
#small-projects {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 90%;
	flex-wrap: wrap;
	row-gap: 5vh;
}
.small-project {
	width: 40%;
	height: 30%;
	background-color: #23272a;
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: opacity 0.6s ease;
}
.small-project-img {
	width: 90%;
	border-radius: 5px;
	height: 60%;
	max-height: 35vh;
}
.small-project-title {
	font-size: 1.3em;
}
.small-project-icons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	width: 30%;
}
.small-project-icon {
	font-size: 2em;
}
.small-project-text {
	width: 90%;
	margin-bottom: 0;
}
#bigger-projects-container {
	width: 100%; /* height: 100%; */
	background-color: #23272a;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
#bigger-projects-title-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 5vh;
}
#bigger-projects-title {
	color: white;
}
#bigger-projects-title-underline {
	height: 3px;
	width: 30px;
	background-color: white;
}
#bigger-projects {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 10vh;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
.bigger-project {
	width: 75%;
	background-color: #2c2f33;
	border-radius: 3px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	padding: 25px;
	row-gap: 2vh;
}
.bigger-project-image {
	/* height: 90%; */
	width: 90%;
	border-radius: 3px;
}
.bigger-project-title {
	font-size: 1.7em;
}
.bigger-project-icons-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 10%;
}
.bigger-project-icon {
	font-size: 2em;
}
